<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid
                   fill-height>
        <v-layout row
                  wrap
                  align-center
                  justify-center>
          <v-flex d-flex
                  xs12
                  sm8
                  md4>
            <v-fade-transition mode="out-in">
              <div v-if="showMe">
                <p class="display-3 text-xs-center">
                  <v-text>Tonnel</v-text>
                  <font size="5">
                    <sub>
                      <i>&beta;</i>
                    </sub>
                  </font>
                </p>
                <p class="headline text-xs-center grey--text">Cross-Region MTProxy Network</p>
                <p class="text-xs-center">
                  <v-btn href="tg://proxy?server=tonnel.me&port=443&secret=624e543658533aae8d81cd3e0c0c9e04"
                         @click="trackBtnClick"
                         color="info"
                         dark>
                    Connect
                    <v-icon right
                            dark>device_hub</v-icon>
                  </v-btn>
                </p>
              </div>
            </v-fade-transition>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
  layout: 'clear',
  data: () => ({
    drawer: null,
    showMe: false
  }),
  props: {
    source: String
  },
  methods: {
    showCard() {
      this.showMe = true
    },
    trackBtnClick() {
      this.$ga.event('new_connection', 'button_click', 'label', 123)
    }
  },
  computed: {
    isPhone: function() {
      return !this.isMobile
    }
  },
  mounted() {
    this.$ga.page('/')

    setTimeout(() => {
      this.showMe = true
    }, 120)
  }
}
</script>
